{%extends 'base.html' %}
{% load tz %}

{% load static %}

{%block pagetitle%}{{title}}| {{block.super}}{%endblock pagetitle%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{%endblock css%}

{%block intro%}
<div class="intro-detail">
    <h1 >{{title}}</h1>
</div>
{%endblock intro%}

{%block body%}
  <div class="container">
    <div class="row">
      {%for row in rows%}
        <div class="col-lg-8" >
            <h2>{{row.0.Title}}</h2>
            <div class="tags">
            {%for tag in row.1%}
              {%if tag%}
                <div class="tag">
                  {{tag.Tags}}
                </div>
              {%endif%}
            {%endfor%}
            </div>
            <p class="new-font-color">{{row.0.User}} | {{row.0.UpdateTime|localtime|date:'M d, Y'}}</p>
            <p class="content-markdown">{{row.0.Content|truncatechars:140}}</p>
            <!-- <a class="news-h1" href="{%url "article:detail" pk=row.0.Id %}">Read More</a> -->
            <form class="" action="{%url "article:detail" pk=row.0.Id %}">
              <input class="btn btn-info" type="submit" value="More" />
            </form>
            <hr style="border-top: 2px solid #00000080;">
        </div>
        {%endfor%}
      </div>
  </div>
<!-- start pagination -->
<nav aria-label="..." class="pagenav" style="text-align: center;">
  <div class="pagination">
      {% if objects_list.has_previous %}
        <li class="page-item"><a href="?page=1">&laquo; first</a></li>
        <li class="page-item disabled">
          <a class="page-link" href="?page={{ objects_list.previous_page_number }}">previous</a>
        </li>
        <li class="page-item">
            <a href="?page={{ objects_list.previous_page_number }}">{{ objects_list.previous_page_number }}</a>
        </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="#">{{ objects_list.number }} <span class="sr-only">(current)</span></a>
      </li>

      {% if objects_list.has_next %}
      <li class="page-item">
          <a href="?page={{ objects_list.next_page_number }}">{{ objects_list.next_page_number }}</a>
      </li>
      <li class="page-item">
          <a href="?page={{ objects_list.next_page_number }}">next</a>
       </li>
       <li class="page-item">
          <a href="?page={{ objects_list.paginator.num_pages }}">last &raquo;</a>
        </li>
      {% endif %}
  </div>
</nav>
<!-- end pagination -->
{%endblock body%}
{%block jsAfterDOM%}
{%endblock jsAfterDOM%}
