

{%block body%}
<!-- <div class="container news-contaioner"> -->
<style media="screen">
  .news-contaioner{
  margin-top: 80px;
}
.news-h1{
  font-size: 18px;
}
.new-font-color{
  color: #777;
}
.news-list{
  float: right;
}
</style>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-4 news-list">
        <div class="well">
          <h4 class="news-h1">Recent:</h4>
            {% for obj in objects_list%}
            <ul *ngFor="let item of news" >
              <p><a href="">{{obj.Title}}</a></p>
              <p>{{obj.UpdateTime}}</p>
            </ul>
            {%endfor%}
          <h4 class="news-h1">By Year:</h4>
          <ul>
            <p><a href="">2017</a></p>
            <p><a href="">2016</a></p>
            <p><a href="">2015</a></p>
          </ul>
        </div>
      </div> -->
      {%for obj in objects_list%}
        <div class="col-lg-8">
            <h1 class="news-h1"><a href="{{obj.Title}}">{{obj.Title}}</a></h1>
            <p class="new-font-color">by <a href="#">{{obj.User}}</a></p>
            <p><img src="assets/images/clock.png" alt=""> {{obj.UpdateTime}}</p>
            <p class="new-font-color">{{obj.Content}}</p>
            <a class="news-h1" href="#">Read More</a>
  	        <p class="new-font-color">
              Tags:
              <!-- <a href="" *ngFor="let tag of item.Tag"><span class="badge badge-info">{{tag}}</span> </a> -->
            <hr>
        </div>
        {%endfor%}
      </div>
    </div>
<!-- </div> -->

{%endblock body%}
{%block jsAfterDOM%}
{%endblock jsAfterDOM%}
