{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {%block pagetitle%}Panchy{%endblock pagetitle%}
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {%block css%}
    {%endblock css%}
  </head>
  <body>
    <div class="wrapper">
      <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-form">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" style="width: 100%;" id="search" placeholder="Search">
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
        </div>
          <!-- Sidebar Links -->
          <div id="search-result">
            {%block sideBarSearch%}
            {%endblock sideBarSearch%}
          </div>
          <div class="sidebar-footer">
            <p>@2018 Panchy</p>
          </div>
      </nav>
      <div class="bg">
        <div class="inner">
          <nav class="navbar navbar-default" id="navbar">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PANCHY</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="nav-a" href="{% url 'article:articleList' %}">HOME</a></li>
                  <li><a class="nav-a" href="#">POST</a></li>
                  <li><a class="nav-a" href="mailto:qpang@ualberta.ca?Subject=Hello">Email</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="side-btn" style="display:inline">
              <a type="button" class="nav-side-btn" id="sidebarCollapse" >
                <img class="nav-side-btn-img" src="{% static 'image/chevron-right-d.png' %}" alt="">
              </a>
            </div>
          </nav>
          {%block intro%}
          <div class="intro-text">
            <h1 id="intro-title">Developer</h1>
            <hr style="width: 30%;float: left;">
            <br>
            <p id="intro-text">Experienced data driving web application developer, who loves agile development and newest technologies. With 1+ years of experience in Android and web application. Also having background knowledge on machine learning and game AI.</p>
            <div class="play-btn">
              <a href="https://github.com/panchyo0" type="button" name="button">
                <img id="play" src="{% static 'image/github.png' %}" alt="">
              </a>
            </div>
          </div>
          {%endblock intro%}
        </div><!--end inner  -->
        <div class="container" style="position: absolute;top: 100vh;">
          {%block body%}
          {%endblock body%}
        </div>
      </div><!--end bg  -->
    </div><!--end wrapper  -->

  </body>
  {%block jsAfterDOM%}
  {%endblock jsAfterDOM%}

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static 'js/base.js' %}"></script>
</html>
