{%extends 'base.html' %}
{% load tz %}

{% load static %}

{%block pagetitle%}{{objects.Title}} | {{block.super}}{%endblock pagetitle%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{%endblock css%}

{%block intro%}
<div class="intro-detail">
    <h1 >{{objects.Title}}</h1>
    <h4 id='time-auth'>{{objects.Build|localtime|date:'M d, Y'}} by {{objects.User}}</h4>
</div>
{%endblock intro%}

{%block body%}
  <style media="screen">
    .bg{
        /* The image used */
        background-image: url({{objects.Image.url}});
    }
  </style>
<div class="container">
  <p>{{objects.Title}}</p>
  {%if not objects.Publish%}
  <p>Draft</p>
  {%endif%}
  <p>{{objects.Content|safe}}</p>
  <p>{{objects.updateTime}}</p>
  {%if user.is_authenticated%}
    <a href="{%url "article:delete" pk=objects.Id %}" class="btn btn-default">Delete</a>
  {%endif%}
  <!-- {%if objects.Image%}
    <img src="{{objects.Image.url}}" class="img-responsive">
  {%endif%} -->
</div>
{%endblock body%}
