{%extends 'base.html' %}
{% load tz %}

{% load static %}

{%block pagetitle%}{{objects.Title}} | {{block.super}}{%endblock pagetitle%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{%endblock css%}

{%block intro%}
<div class="intro-detail">
    <h1 >{{objects.Title}}</h1>
    <h4 id='time-auth'>{{objects.Build|localtime|date:'M d, Y'}} by {{objects.User}}</h4>
    {%if tags%}
      {%for tag in tags%}
      <a class="intro-tag">{{tag.Tags}}</a>
      {%endfor%}
    {%endif%}

    {%if user.is_authenticated%}
      <p><a href="{%url "article:delete" pk=objects.Id %}" class="btn btn-default">Delete</a></p>
      <p>{{objects.Counter}} Reads</p>
    {%endif%}
</div>
{%endblock intro%}

{%block body%}
  <style media="screen">
    .bg{
        /* The image used */
        background-image: url({{objects.Image.url}});
    }
  </style>
<div class="container" style="padding-right: 10%;padding-left: 10%;margin-bottom: 7%;">
  {%if not objects.Publish%}
  <p>Draft</p>
  {%endif%}

  <p class="content-markdown">{{objects.Content}}</p>

</div>
{%endblock body%}

{%block jsAfterDOM%}
{%endblock jsAfterDOM%}
