{%extends 'base.html' %}

{% load static %}
{% load tz %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/postList.css' %}">
{%endblock css%}

{%block sideBarSearch%}
<div class="">
  <h3 class="title">Recent Post</h3>
  {%for obj in objects_list|slice:":10"%}
  <!-- <div class="col-md-4"> -->
  <hr>
    <div class="thumbnail">

      <a href="{%url "article:detail" pk=obj.Id %}">
        <!-- <img src="/w3images/lights.jpg" alt="Lights" style="width:100%"> -->
        {%if obj.Image%}
        <div class="">
          <img src="{{obj.Image.url}}" class="img-responsive">
          <div class="no-shadow">
          </div>
        </div>
        {%endif%}
        <div class="caption post-text">
          <p class="time-color">{{obj.Build|localtime|date:'M d, Y'}}</p>
          <h4>{{obj.Title}}</h4>
          <p class="content-markdown" id="post-content">{{obj.Content|truncatechars:70}}</p>
        </div>
      </a>
  </div>
  {%endfor%}
</div>

{%endblock sideBarSearch%}

{%block body%}


{%endblock body%}
{%block jsAfterDOM%}
<script src="{% static 'js/postList.js' %}"></script>
{%endblock jsAfterDOM%}
