{%extends 'base.html' %}
<!-- {% load static %} -->

{%block pagetitle%}{{from}}{%endblock pagetitle%}
{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
{{ form.media }}
{%endblock css%}



{%block intro%}

<div class="intro row">
  <div class="col-lg-6">
    <p id="flag">{{from}}</p>
    <form method="post" enctype="multipart/form-data"> {%csrf_token%}
      {{form.as_p}}
      <button type="submit" id="sub_form" class="btn btn-default">Submit</button>
    </form>
  </div>

  <div class="col-lg-6">
    {{form.media}}
  </div>
</div>
{%endblock intro%}

{%block body%}
<!-- <div class="">
  <p id="flag">{{from}}</p>
  <form class="" action="" method="post" enctype="multipart/form-data"> {%csrf_token%}
    {{form.as_p}}
    <button type="submit" id="sub_form">Submit</button>
  </form>
</div> -->
{%endblock body%}
{%block jsAfterDOM%}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.min.js"></script> -->
<script src="{% static 'js/post.js' %}"></script>
{%endblock jsAfterDOM%}
