/*nav*/
body, html {
  height: 100%;
  margin: 0;
}
.bg {

  /* Full height */
  height: 55%;
  width: 100%;
  /* The image used */
  background-image: url(/static/image/ways.jpg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner{
    height: 55%;
    width: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top:0;
}

.star-body{
  position: absolute;
  top: 60vh;
}
/*end nav*/

/*intro*/
.intro-detail{
  color: #ffffffe8;
  margin-top: 7%;
  text-align: center;
}
/*end intro*/


.news-contaioner{
margin-top: 80px;
}
.news-h1{
font-size: 18px;
}
.new-font-color{
color: #777;
}

.nav-side-btn-img{
  margin-bottom: 10px;
}

/*tags*/
.tags{
  /*white-space: nowrap;*/
}

.tag{
  display: inline-block;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #7f7f7f;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson;
}
/*endtags*/
