/*background image css*/
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url(/static/image/start-dusk-1500x1000.jpg);
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner{
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top:0;
}
/*navbar css*/
.navbar{
  border-radius: 0px;
}
.navbar-default{
  background: none;
  border: none;
  padding-top: 2%;
  padding-left: 7%;
  padding-right: 7%;
  box-shadow: none;
  /*position: fixed;*/
  width: 100%;
  top: 0;
  z-index: 100;
}
.navbar-scroll{
  position: fixed;
  background: black;
}
.navbar-default .navbar-toggle {
    border-color: #dddddd1c;
}
.navbar-default .navbar-collapse{
  border-color: rgba(255, 255, 255, 0);
}
#bs-example-navbar-collapse-1.navbar-collapse.collapse.in {
    border-color: #e7e7e700;
    box-shadow: none;
}
#bs-example-navbar-collapse-1.navbar-collapse.collapse{
  border-top: none;
  box-shadow: none;
}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 20px;
  text-shadow:none;
}
.navbar-default .navbar-nav .nav-a{
  color:#909090;
  text-shadow:none;
}
.navbar-default .navbar-nav .nav-a:hover{
  color:white;
  font-size: 18px;
}
.nav-side-btn{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 249, 255, 0);
}
.side-btn .nav-side-btn:hover{
  padding-left: 10px;
}

.nav-side-btn-img{
  width: 15px;
  height: 15px;
  margin-left: 3%;
  /*background-image: url("{% static 'image/chevron-right.png' %}");*/
}

/*side bar*/
.wrapper {
    height: 100%;
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left:0px;
    background-color: rgba(0, 0, 0, 0.86);
}

#sidebar {
    min-width: 20%;
    max-width: 20%;
    min-height: 100vh;
    margin-left: -20%;
    position: fixed;
}
.sidebar-footer{
/*position: fixed;*/
left: 0;
bottom: 0;
width: 100%;
position: absolute;
/*background-color: red;*/
color:  rgba(255, 255, 255, 0.2);
text-align:center;
}
/*end side bar*/

/*side bar search*/
.form-control{
  background-color:  rgba(124, 124, 124, 0.63);
  border: 1px solid rgba(204, 204, 204, 0);
  border-radius: 25px;
  color: #e8e8e8;
  margin-top: 10%;
}
#search-result{
  width: 100%;
  overflow-y:auto;
  height:85%;
  position: absolute;
  top: 10%;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee2e;
}
/*end side bar search*/
/*side bar text*/
.sidebar-text-styly{
  color: white;
  margin-left: 5px;
}
.inline{
  display:flex;
  margin-left: 5px;
}
.search-img{
  width: 20px;
  height: 20px;
}
/*end side text*/

/*intro*/
.intro-text{
margin-top: 10%;
margin-left: 10%;
color: white;
}

#intro-title{
  font-size: 47px;
}

#intro-text{
  width: 30%;
  font-size: 16px;
  color: #e8e8e8bf;
}
.play-btn{
    margin-top: 10px;

}
#play{
  width: 70px;
  opacity: 0.8;
}
/*end intor*/

/*body*/
.star-body{
  position: absolute;
  top: 100vh;
}
/*end body*/
