/*Post list wall*/
.post-text{
  bottom:0;
  left:0;
  position: absolute;
}
.thumbnail{
    position:relative;
    padding: 0px;
    margin-bottom: 0px;
}
.thumbnail .caption{
  color: #ffffff;
}
.thumbnail .caption .time-color{
  color: rgba(241, 241, 241, 0.88);
}
.col-md-4{
  padding-right: 0px;
  padding-left: 0px;
}
.col-md-3{
  padding-right: 0px;
  padding-left: 0px;
}
/*end post list*/
